@tailwind base;
@tailwind components;
@tailwind utilities;

/* debugging stack visualization */
.dbsv * {
    @apply outline outline-1;
    --debugging-colour: #f87171;
    outline-color: var(--debugging-colour);

    &:hover {
        --debugging-colour: #71f891;
    }
}

*{
    @apply text-white;
    @apply font-semibold;
}

html{
    font-size: clamp(1vh,1vw,1vw);
}

ruby, rt, rp {
    @apply font-normal;
}
ruby:not([lang]) {
    @apply font-semibold;
}

h1 {
    @apply text-2xl;
}
p {
    @apply text-base;
}

button{
    @apply transition-all duration-300;
    @apply hover:text-orange-500;
}

button:disabled{
    @apply hover:text-white;
}

::selection{
    @apply text-inherit;
}


* {
    --text-color: #23282d;
}

.scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-orange-400;
    @apply rounded-lg
}
.scrollbar::-webkit-scrollbar {
    @apply w-[0.5em];
}
